@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: rgb(4, 0, 79); /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(43, 43, 73); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgb(13, 40, 172); /* creates padding around scroll thumb */
}
